<div>
    <p>
        Hi <%= comment.user.name %> 
        <br>
        <br>
        <p> Your Comment <strong><%= comment.content %></strong>  just got published on codial.</p>
        <br>
        <br>
        <p>Thanks!</p>
    </p>


</div>